<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Kövesi Patrik</title>
    <!--<link href="style.css" type="text/css" rel="stylesheet">-->
    <!--    <link href="bootstrap.css" type="text/css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="../view/style0.css" type="text/css" rel="stylesheet">

</head>
<body>


<!--fejléc-->
<div class="container">
    <div class="fejléc-egész">
        <div class="row align-items-center">
            <div class="col-7">
                <div class="fejléc-név">Kövesi Patrik</div>
            </div>
            <div class="col-5">
                <a href="../view/main.html">Kezdőlap / </a>
                <a href="../view/projects.html">Munkáim  / </a>
                <a href="../view/contact.html">Kapcsolat / </a>
                <a href="../view/about.html">Rólam</a>
            </div>
        </div>
    </div>
</div>

<div class="választóvonal"><hr></div>


<!--törzseazoldalnak-->
<div class="container">
    <div class="row">
        <div class="col-lg-3" ></div>
        <div class="col-lg-3" style="text-align: center">
            <div id="map" style="width:400px;height:400px;background:yellow"></div>
            <div>majd egyszer fog müködni =)</div>
        </div>
        <div class="col-lg-6" style="text-align: justify">
            <p></p>
            <ul>
                <li>Kövesi Patrik</li>
                <li>Tel: +413213113</li>
                <li>Email: noreply@none.com</li>
                <li>Fax: +413213115</li>
                <li>LinkedIn: PontŐ</li>
                <li>Facebook: nemmondommeg</li>
                <li>Twitter: csak LoL skin miatt lett</li>
                <li>Youtube: Nézelődöm!</li>
                <li>Cím: Valahol a világon</li>
                <li>Elérhetőség: Kérdezd anyámat</li>

            </ul>
        </div>
    </div>
</div>


<div class="választóvonal"><hr></div>
<!--lábléc-->
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <div class="lábléc-infok">
                <ul>
                    <li>Név: Kövesi Patrik</li>
                    <li>tel: 06-39/123-4567</li>
                    <li>Email: kovesipatrik@emailcim.com</li>
                    <li>fb: kovesipatrik.link</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="lábléc-középső">
                <ul>
                    <li>Készítette: <b>Kövesi Patrik</b></li>
                    <li>2017.12.XX</li>
                    <li>Minden jog fentartva stb stb!</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="lábléc-infok">
                <ul>
                    <li>Név: Kövesi Patrik</li>
                    <li>tel: 06-39/123-4567</li>
                    <li>Email: kovesipatrik@emailcim.com</li>
                    <li>fb: kovesipatrik.link</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--googlemap-->
<script>
    function myMap() {
        var mapOptions = {
            center: new google.maps.LatLng(47.495, 19.045),
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.HYBRID
        }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
<!--bootstrap scriptek-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>