html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body{
    background-color: #ebf0f5;
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

.container{
    background-color: transparent;

}
.cuccoklinkek li{
    text-decoration: none;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1920px;
    }
}

.fejléc-egész{
    margin: 8px;
}
.fejléc-név{
    color: black;
    font-size: 20px;
}
.col-5{
    text-align: center;
}
.col-5 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}


.fejlesztesbox body {
    text-align: center;
}
.szövegtörzscim{
    margin-bottom: 30px;
}
img{
    height: auto;
}
.hircim{
    text-align: center;
    margin-top: 18px;
    margin-bottom: 6px;
}
.hirleirás{
    text-align: justify;
    margin-left: 6px;
    margin-right: 6px;
}
.hirdátum{
    text-align: right;
}
.választóvonal{
    margin: 10px;
}
.üres{
    margin-top: 30px;
}

.col{
    text-align: center;
}
.lábléc-infok ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}

.lábléc-infok li {
    padding-left: 16px;
}

.lábléc-infok li:before {
    content: "•"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: #000000; /* Or a color you prefer */
}

.lábléc-középső ul{
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}
.szövegrólam{
    font-size: 14px;
}
